html, body, header, footer, section,
menu, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
	}


body {
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px;
	 color: #262626;
	 background: #ffffff;
	 }
	 
a {	
	text-decoration: underline;
}

.clear {
	clear:both;
	display: block;
}

header{
	background: url(../images/main-bg.jpg) repeat-x left top;
}

.wrap{
	width: 960px;	
	text-align:center;
	margin: 0 auto;
}

.top {
	float: left;
	clear: both;
	position: relative; 
	width: 100%;
}
.logo {
	margin-top: 14px;
	float: left; 
	padding: 10px 0 10px 10px;
}
	
#menucont {		
	width: 70%;
	position: relative;
	z-index: 2000;
	text-align:center;
	border-bottom: 2px solid #272727;
	float: left; 
}


/* Formular de logare */
#loginform{
	display:none;
}	

.arata#loginform {
	display: block;
}

.loginform {
	padding-top: 8%;
	padding-bottom: 8%;
	display:none;
}

.loginform input:not([type=submit]) {  
    padding: 5px;  
    margin-right: 10px;  
    border: 1px solid rgba(0, 0, 0, 0.3);  
    border-radius: 3px;  
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),   
                0px 1px 0px 0px rgba(250, 250, 250, 0.5) ; 
}  

.loginform input[type=submit] {  
    border: 1px solid rgba(0, 0, 0, 0.3);  
    background: #64c8ef; /* Old browsers */  
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */  
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */  
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */  
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */  
    background: linear-gradient(to bottombottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */  
    color: #fff;  
    padding: 5px 15px;  
    margin-right: 0;  
    margin-top: 15px;  
    border-radius: 3px;  
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);  
}  

.loginform  input[type=userName], .loginform input[type=password]{
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* W3C */
	box-shadow:inset 1px 1px 3px #d8d8d8;
	font-size: 12px;
	font-weight: normal;
	width: 100px;
	color: #d9d9d9;
	height: 20px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #f0f0f0;
	text-shadow: -1px -1px 1px #fff;
}

#right_tab{
	width: 28%;
	float: right;
	border: rgba(92, 84, 84, 0.47) 1px solid;
	border-radius: 5px;
	background: #e9e9e9 url(../images/log-bg.jpg);
}

.languages {
	float: right;
}

.languages img {
	margin: 3px;
	border: 0px;
}

.tabContent {
height: 250px;
overflow: hidden;
}

.form-input-name{
  width: 50%;
  text-align: right;
}

.register_table tr td{
  padding: 10px;
 /* border-bottom: 1px solid #e0e0e0; */
  border-top: 1px solid #fff;
}

.register_table tr:last-child td{
  padding: 10px;
  border-bottom: none;
  border-top: 1px solid #fff;
}

input[type=text]:focus,input[type=userName]:focus, textarea:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=tel]:focus{
  color: #000;
  border: 1px solid #96a641;
}

input[type=submit]{
	background: #a4b357; /* Old browsers */
	background: -moz-linear-gradient(top, #a4b357 0%, #75890c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b357), color-stop(100%,#75890c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a4b357 0%,#75890c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a4b357 0%,#75890c 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #a4b357 0%,#75890c 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #a4b357 0%,#75890c 100%); /* W3C */
	padding: 10px;
	font-size: 20px;
	font-weight: normal;
	width: 250px;
	color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
	text-shadow: 1px 1px 1px #4b4b4b;
}

input[type=submit]:hover{
	background: #e4efc0; /* Old browsers */
	background: -moz-linear-gradient(top, #e4efc0 0%, #abbd73 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4efc0), color-stop(100%,#abbd73)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4efc0 0%,#abbd73 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4efc0 0%,#abbd73 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e4efc0 0%,#abbd73 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e4efc0 0%,#abbd73 100%); /* W3C */
	color: #fff;
	text-shadow: 1px 1px 1px #4b4b4b;
}
/*
input[type=text], input[type=email], input[type=number], input[type=password], input[type=tel]{
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* W3C */
	box-shadow:inset 1px 1px 3px #d8d8d8;
	padding: 10px;
	font-size: 16px;
	font-weight: normal;
	width: 250px;
	color: #d9d9d9;
	height: 20px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #f0f0f0;
	text-shadow: -1px -1px 1px #fff;
}
*/


textarea{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 10px;
	font-size: 16px;
	color: #d9d9d9;
	font-family: Helvetica, Arial;
	width: 250px;
}


/*Mai jos ai <960px. Rescrii doar ce trebuie rescris, nu tot. doar clasele care le vrei ajustate.*/
@media only screen and (max-width: 959px), screen and (max-device-width: 959px) {
	
	.wrap{
		width:100%;
	}
	
	#right_tab {
		width: 15%;
	}
	
	#menucont{
		width:45%;
	}
}

/*Mai jos ai <800px, rescrii aici ce ai pus sub 960 si nu se mai potriveste si la rezolutii mai mici*/
@media only screen and (max-width: 799px), screen and (max-device-width: 799px) {

	#right_tab {
		width: 15%;
	}
	
	#menucont{
		width:55%;
	}
}

/*Acelasi lucru si aici, pt rezolutii f mici*/
@media only screen and (max-width: 479px), screen and (max-device-width: 479px) {
	#right_tab {
		width: 100%;
	}
	
	#menucont{
		width:100%;
	}
}


