html, body, header, footer, section,
menu, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
	}


body {
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 12px;
	 color: #262626;
}

h1 {
	font-size: 200%;
	margin-bottom: 30px;
}
h2 {
	font-size: 180%;
	margin-bottom: 25px;
}
h2 b {
	font-weight: bold;
}
h3 {
	font-size: 160%;
	margin-bottom: 20px;
}
h4 {
	font-size: 140%;
	font-weight: bold;
}

b {
font-weight: bold;
}
	 
a {	
	text-decoration: underline;
}

.clear {
	clear:both;
	display: block;
}

header{	
	background: #87e0fd url(../images/airplane.png) no-repeat right center;
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px #05abe0 solid;
	margin: 0 0 2% 0;
}

section {
	width: 65%;
	float: left; 
}

section.admin_section {
	float: right;
}

section.full {
	width: 100%;
}

section p {
	text-align: left;
	margin: 1.5em 0;
	padding-left: 62px;
}

aside {
	width: 30%;
	float: left;
}

.wrap{
	width: 960px;	
	margin: 0 auto;
}

.top {
	float: left;
	clear: both;
	position: relative; 
	width: 100%;
}
.logo {
	margin-top: 14px;
	float: left; 
	padding: 10px 0 10px 10px;
}

.logo img {
	display: inline-block;
}

.logo a {
	color: #fff; 
	font-size: 160%;
	text-decoration: none;
	font-weight: bold;
}
	
#menucont {		
	width: 65%;
	position: relative;
	z-index: 2000;
	float: left; 
}


/* Formular de logare */
#loginform{
	display:none;
}	

.arata#loginform {
	display: block;
}

form {
	width: 80%;
	float: left; 
}
form div {
	width: 100%; 
	margin-bottom: 15px;
	float: left;
}
.eroare {
	color: red; 
	clear: both;
	display: block;
	margin: 15px 0 5px 0;
}

.succes {
	color: green; 
	clear: both;
	display: block;
	margin: 15px 0 5px 0;
}
form div label {
	text-align: left;
	color: #aaa; 
	padding-bottom: 5px;
	width: 100%;
	float: left; 
}
form input, form textarea, form select {
	width: 90%;
	height: 25px;
	line-height: 25px;
	padding-left:5%!important;
	border: 1px #aaa solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

form select{
	width: 96%!important;
}

form select {
	width: 100%;
	padding: 0;
}

form textarea {
	height: 50px;
	line-height: normal;
}

form .tiny {
	width: 25%; 
	margin-right: 3%;
}

form select.tiny {
	position: relative;
	top:-4px;
	height: 26px;
}

form input[type=submit], .button_like_submit, .update_limba {  
    border: 1px solid rgba(0, 0, 0, 0.3);  
    background: #64c8ef; /* Old browsers */  
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */  
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */  
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */  
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */  
    background: linear-gradient(to bottombottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */  
    color: #fff;  
    padding: 5px 15px;  
    height: 30px;
    margin-right: 0;  
    margin-top: 15px;  
    margin-bottom: 15px;
    border-radius: 3px;  
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);  
    width: auto;
	text-decoration: none;
} 

.update_limba {
	padding: 3px 5px;
	height: 25px; 
}

.loginForm {
	padding-top: 8%;
	padding-bottom: 8%;
	width: 80%;
	margin: 0 auto;
	float: none;
}

#right_tab .login_links {
	color: #64c8ef;
	text-decoration: none;
	margin: 0 10px; 
	font-weight: bold;
}

.loginForm div {
	margin-bottom: 2px;
}

.loginForm label {
	width: 40%;
	float: left;
	text-align: right;
	height: 30px;
	line-height: 30px;
}

.loginForm input:not([type=submit]) {  
    padding: 5px;  
    width: 40%;
    margin-right: 10px;  
    border: 1px solid rgba(0, 0, 0, 0.3);  
    border-radius: 3px;  
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),   
                0px 1px 0px 0px rgba(250, 250, 250, 0.5) ; 
}  

 

.loginForm  input[type=userName], .loginForm input[type=password]{
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* W3C */
	box-shadow:inset 1px 1px 3px #d8d8d8;
	font-size: 12px;
	font-weight: normal;
	width: 100px;
	color: #d9d9d9;
	height: 20px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #f0f0f0;
	text-shadow: -1px -1px 1px #fff;
}

#right_tab{
	width: 30%;
	float: right;
	border: #aaa 1px solid;
	border-radius: 5px;
	background: #e9e9e9 url(../images/log-bg.jpg);
	height: 318px;
	text-align: center;
}

#right_tab h2 {
	width: 100%;
	padding: 10% 0;
	font-size: 140%; 
	color: #333;
	margin-bottom: 0;
}

.languages {
	float: right;
}

.languages img {
	margin: 3px;
	border: 0px;
}

.tabContent {
height: 250px;
overflow: hidden;
}

.form-input-name{
  width: 50%;
  text-align: right;
}

.register_table tr td{
  padding: 10px;
 /* border-bottom: 1px solid #e0e0e0; */
  border-top: 1px solid #fff;
}

.register_table tr:last-child td{
  padding: 10px;
  border-bottom: none;
  border-top: 1px solid #fff;
}

.rezultate_existente {
	clear: both;
	width: 100%;
	border-top: 1px #ccc solid;
	margin: 20px 0;
	padding: 20px 0;
}

.rezultate_existente table {
	float: left;
	width: 100%;

}

.rezultate_existente table td {
	padding: 1% 5%;
	border: 1px #ccc solid;
}

.rezultate_existente table .table_head td {
	font-weight: bold;
}

.rezultate_existente.facturi table td {
	padding: 1%; 
}

ul li a {
	color: #333;
	text-decoration: underline;
}

ul li a:hover {
	text-decoration: none; 
}

.links_admin, .admin_submenu {
	float: left;
	clear: both;
	width: 100%;
	list-style: disc inside;
	margin-bottom: 40px;
}

.links_admin a {
	color: #000;
	font-size: 120%;
}

.admin_submenu a {
	color: 999;
}

.links_admin li , .admin_submenu li {
	float: left;
	clear: both;
	width: 100%;
	padding: 3px 0;
}



/*Taburi*/
#tabs {
	font-size: 90%;
	margin: 20px 0;
}
#tabs ul {
	float: left;
	width: 500px;
	padding-top: 4px;
}
.taburi li {
	margin-left: 8px;
	list-style: none;
	background: pink;
}
* html .taburi li {
	display: inline;
}
#tabs .taburi li , #tabs .taburi li a{
	float: left;
}
.taburi li.active {
	border-top:0px #FFFF66 solid;
	background: #FFFFCC;
}
.taburi li.active a {
	color: #333333;
}
#tabs div.tabContent {
	background: #FFFFCC;
	clear: both;
	padding: 15px;
	min-height: 200px;
}
#tabs div.tabContent h3 {
	margin-bottom: 12px;
}
#tabs div.tabContent p {
	line-height: 150%;
}

#tabs div.tabContent form div {
	width: 50%; 
}
.taburi li a {
	text-decoration: none;
	padding: 8px;
	color: #000;
	font-weight: bold;
}
.thumbs {
	float:left;
	border:#000 solid 1px;
	margin-bottom:20px;
	margin-right:20px;
}

.to{
	padding-left: 38%;
}

.from{

}

.sel_to{
	margin-left: 12%;
}

.data_pl{
	margin-left: 18%;
}

.data_pl_input{
	margin-left: 7%;
}

.nr_pers{
	margin-left: 15%;
}

.conf_number{
	margin-left: 10%;
}

.last_name{
	margin-left: 10%;
}

.info{
	margin-left: 12%;
}

.info1{
	width:33%!important;
}
#rezervare_menu_ul {
	float: left; 
	clear: both;
	margin-bottom: 40px; 
	width: 100%;
}
#rezervare_menu_ul li{
	float:left;
	width:22%;
	z-index: 5;
	background: url(../images/rezervare_menu.png) no-repeat 100% 0;
	padding-right: 12px;
	height: 48px;
	position: relative;
	line-height: 48px;
	text-align: center;
	margin-left:-12px;

}
#rezervare_menu_ul li:first-child {
    margin-left: 0;
}

#data_plecare{
	width:100px;
}

#data_sosire{
	width:100px;
}

#rezervare_menu_ul li a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
	background: aliceblue;
	width: 100%;
	text-align: center;
	height: 48px;
	line-height: 48px;
	float: left; 
}
#rezervare_menu_ul li.selected a {
	background-color: #fff;
}

#rezervare_menu_ul .selected{
	background-position: 100% -48px;
}

.pasageri h3{
	padding: 29px;
}

.pasageri-in{
	border: 2px solid;
	padding: 18px;
}

.pasageri-in{
	display:none;
}	

.show.pasageri-in {
	display: block;
}

.fieldset{
	position: relative;
}

.cat_field{
	margin: 0;
	padding: 0;
	border: 0;
	padding-top: 30px;
}

.cat_field {
	width: 100%;
}
.cat_field p {
margin: 0;
padding-left: 0;
}
.cat_field input {
	float: left;
	width: auto;
	margin-top: - 6px; 
}
.cat_field label {
	float: left; 
	margin-right: 10px;
	clear: both; 
	width: 60%;
}

.rezumat_rezervare{
	width:100%!important;
}

.st_zb{
	font-size:122%;
	color:rgb(85, 91, 134);
}

.fieldset {
	display: inline !ie7; 
}

.admin_menu li{
	line-height: 200%;
}

.admin_menu{
	float:left;
}

hr.hr_rezervare { 
	display: block;
	margin: 15px 0 25px 0;
}

hr.hr_rezervare2 { 
	display: block;
	margin: 15px 0 25px 0;
	border: 1px #ccc solid;
}

footer{
	background-color:rgba(160, 193, 214, 0.48);
}

.footer{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	color: white;
	padding-top: 15px;
}

.footer h3 a{
	color: rgb(44, 52, 97);
	text-decoration: none;
	padding-left: 54px;
}

.footer p{
	color:black;
}

.footer a{
	text-decoration:none;
}

.boxF{
	width: 200px;
	float: left;
	padding: 12px;
	margin: 0 12px;
}

#copyright{
	color:black;
	width: 100%;
	clear: both;
	text-align: center;
	height: 44px;
	background-color: rgb(214, 214, 214);
	line-height: 44px;
}
.traducere_box {
	position: relative;
	display: inline;
}
.open_traducere {
	padding: 1px;
	background: navy;
	color: #fff;
	font-size: 8px;
	text-decoration: none;
	position: relative;
	top: -5px;
}

.traducere_table {
	border: 1px #ccc solid;
	padding: 5px; 
	position: absolute;
	width: 270px;
	border-radius: 3px; 
	top: -6px;
	left: 10px;
	background: #fff;
	display: none;
}
.traducere_table.show {
	display: block;
}

.close_traducere {
	padding: 1px 3px;
	background: red;
	color: #fff;
	font-size: 8px;
	text-decoration: none;
	position: absolute;
	top: 1px;
	right: 1px;
}

.traducere_table li {
	margin: 3px 0;
	float: left; 
	width: 100%; 
}
.traducere_table li span, .traducere_table li input, .traducere_table li a {
	float: left; 
}
.traducere_table li span {
	width: 70px; 
	color: #333; 
	height: 23px;
	line-height: 23px;
}

.traducere_table li input {
	width: 100px; 
	margin-right: 10px;
}

.traducere_table li .update_limba {
	height: 14px;
	margin-top:0;
	margin-bottom: 0;
}

/*Mai jos ai <960px. Rescrii doar ce trebuie rescris, nu tot. doar clasele care le vrei ajustate.*/
@media only screen and (max-width: 959px), screen and (max-device-width: 959px) {
	
	.wrap{
		width:100%;
	}
	
	#right_tab {
		width: 15%;
	}
	
	#menucont{
		width:45%;
	}
}

/*Mai jos ai <800px, rescrii aici ce ai pus sub 960 si nu se mai potriveste si la rezolutii mai mici*/
@media only screen and (max-width: 799px), screen and (max-device-width: 799px) {

	#right_tab {
		width: 15%;
	}
	
	#menucont{
		width:55%;
	}
}

/*Acelasi lucru si aici, pt rezolutii f mici*/
@media only screen and (max-width: 479px), screen and (max-device-width: 479px) {
	#right_tab {
		width: 100%;
	}
	
	#menucont{
		width:100%;
	}
}


